/* Reset & Global Layout */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #fef9ef;
}

.container {
    display: flex;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    flex-wrap: wrap;
}

main {
    flex: 1;
    min-width: 60%;
}

section {
    padding: 2rem 0;
    scroll-margin-top: 92px;
    margin: 4rem 0;
}

html {
    scroll-behavior: smooth;
}

::selection {
    background: rgba(255, 204, 0, 0.8);
    color: #333;
}

/* Responsive layout */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    section {
        padding: 2rem 0;
        margin: 0;
    }
}